body{
    display: grid;
    height: 100%;
    place-items: center;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 30%;

}

#conteneur{
    display :grid;
    grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
    grid-template-areas:
    "header  header  header  header"
    "nav     nav     nav     aside"
    "main     main   main    aside"
     "poli     sol    sol    aside"
    "footer  footer  footer  footer";
    grid-gap: 1px;
}


main {
    grid-area: main;
    padding: 5em;
    padding-right: 0em;
    background-color: darkred;
    padding-top: 0%;
    text-align: left;
    padding-left: 1%;
    
    
}

poli{
    grid-area:poli ;
    background-color:chartreuse;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 20px;
    
   
}

sol{
    background-color: forestgreen;
    grid-area: sol;
    padding-left: 10px;
   
    
}


header {
    grid-area: header;
    background-color:black;
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 3%;

}

nav{
    grid-area: nav;
    background-color: blueviolet;
    padding: 1%;
}

aside{
    grid-area: aside;
    background-color:cyan;
    padding: 10px;
    padding-right: 8em;
   
  
    
}
 
footer{
    grid-area: footer;
    background-color:dimgray;
    padding: 1em;
    text-align: right;

}


img{ 
        max-width: 300px; 
       
       
    
           
} 


.figure { 
        background-color: white; 
        border: solid black 1px; 
       
        width:fit-content; 
        float: left;
        padding-right: 4px;
       padding-bottom: 15px;
       padding-left: 4px;
       padding-top: 10px;
       
}


.darquest1{
        padding-right: 10px;
}
.knapsak{
    padding-right: 34em;
}

.wow{
    padding-right: 10px;
}

.cegep{
    padding-right: 1%;
   
}


.kb2{
    padding-right: 1%;
   
}


a:hover{
    background-color: blue;
}
a{
    color: white;
}
 
.para{
   
}